.root {
	margin: 1.25rem 0;
}

.media {
	position: relative;
	height: 180px;
	overflow: hidden;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.media img {
	object-fit: cover;
	object-position: 50% 20%;
	width: 100%;
	height: 100%;
	filter: grayscale(35%);
}

.media,
.media img {
	border-radius: 0;
}

.placeholder {
	opacity: 0.25;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
}

.details {
	margin: auto;
	position: relative;
	font-size: 0.8125rem !important;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	padding-top: 6px;
}

.source,
.date {
	display: flex;
	align-items: center;
	height: 100%;
}

.avatar {
	width: 18px !important;
	height: 18px !important;
	margin-right: 7px;
	font-weight: bold !important;
	font-size: 0.875rem !important;
}
