:root {
	--main-card-bg: rgba(150, 150, 150, 0.087);
}

.root {
	margin: 1.25rem 0;
	animation: fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	background: var(--main-card-bg) !important;
}

.media {
	position: relative;
	background: var(--main-card-bg);
}

.media img {
	object-fit: cover;
	object-position: 100% 10%;
	width: 100%;
	filter: grayscale(40%);
}

.media,
.media img {
	border-radius: 0;
	height: 180px;
}

.placeholder {
	opacity: 0.25;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
}

.details {
	margin: auto;
	position: relative;
	font-size: 0.8125rem !important;
}

.wrapper {
	padding-top: 6px;
	display: flex;
	flex-wrap: wrap;
}

.source,
.date {
	display: flex;
	align-items: center;
}

.avatar {
	width: 18px !important;
	height: 18px !important;
	margin-right: 7px;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
