.masonryGrid {
	display: flex;
	width: auto;
	min-height: 100vh;
	padding: 20px 15px 15px 15px;
}

.masonryGridColumn {
	padding-left: 30px;
	background-clip: padding-box;
}

.masonryGridColumn:first-child {
	padding-left: 0;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	margin-bottom: 71px;
}

@media (max-width: 950px) {
	.masonryGridColumn {
		padding-left: 20px;
	}

	.masonryGrid {
		padding: 10px;
	}
}
