.masonryGrid {
	display: flex;
	width: auto;
	min-height: 100vh;
	padding: 1.25rem;
}

.masonryGridColumn {
	padding-left: 1.25rem;
	background-clip: padding-box;
}

.masonryGridColumn:first-child {
	padding-left: 0;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	margin-bottom: 71px;
}

@media (max-width: 950px) {
	.masonryGrid {
		padding: 0.625rem 1.25rem 0.625rem 1.25rem;
	}
}
