.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	margin-bottom: 71px;
} 

.masonry {
	animation: fade-in 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}

 @keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  